.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("https://wallpapercave.com/wp/wp8235182.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* padding: 5%; */
  font-family: "Roboto Mono", monospace;
  /* font-family: "Square Peg", cursive; */
  font-size: x-large;
}

.logo {
  /* border: solid red; */

  width: 6vw;
  height: 6vw;
  border-radius: 25%;
  background-size: cover;

  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/53/96/workout-logo-with-triangle-man-vector-4235396.jpg");
}

input {
  color: rebeccapurple;
}
button {
  background-color: rebeccapurple;
  border-radius: 20px;
  font-size: 13px;
  border: solid rebeccapurple;
  color: var(--tan-2);
  align-items: center;
  padding: 4px 15px;
  font-weight: 550;
}
button:hover {
  background-color: var(--tan-2);
  color: rebeccapurple;
}
h1 {
  margin-top: 0;
}

ul.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list > li {
  list-style: none;
  margin-left: 5px;
  margin-right: 10px;
}

#log-sign {
  margin-left: 10%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/*
font-size: 13px;
line-height: 22px;
height: 32px;
-webkit-font-smoothing: antialiased!important;
-moz-osx-font-smoothing: grayscale;
display: -ms-inline-flexbox;
display: inline-flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
text-align: center;
padding: 4px 15px;
font-weight: 600;
white-space: nowrap;
cursor: pointer;
text-decoration: none;
box-sizing: border-box;
background-clip: border-box!important;
background-origin: border-box!important;
color: #79589f;
background: #fff; */
