body {
  margin: 0;
}

:root {
  --white: #ffffff;
  --tan-1: #fbf9f6;
  --tan-2: #e7e2dd;
  --tan-3: #e2d9d1;
  --tan-4: #d3c1ae;
  --orange: #f67f00;
  --text-light: #968c84;
  --text-dark: #615954;
}

.form-container {
  padding: 10px;
  background-color: lightgray;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  align-items: center;
}

label {
  display: flex;
  font-size: 2vmin;
  align-items: center;
}
input:focus {
  border-color: rebeccapurple;
}
textarea:focus {
  border-color: rebeccapurple;
}
textarea {
  outline: none;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

.Footer {
  height: 10vw;
  border-top: solid lightgray;

  margin-bottom: 0px;

  font-size: 14px;
  /* background: lightgray; */
  /* border: solid red; */
}

.Nav {
  /* border: solid red; */
  padding: 10px 5% 0px 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7%;
}
main {
  /* border: solid purple; */
  height: 73%;
  align-items: center;
}

button[type="submit"] {
  margin-top: 3rem;
}
